<section class="card"> 
      <p>{{name}}</p>
      <p>{{artists}}</p>
      <a href="" class="uk-icon-link" uk-icon="plus" ></a>
      {{!-- here is where we add the plus sign for card will have ability to add each one to playlist --}}
</section>