
    {{!-- Search area to search db for songs --}}
    
    <a href="/playlists" class="uk-button uk-button-default logo" id="createPlaylist"> <span uk-icon="icon: play-circle; ratio: 2"></span> Create Playlist</a>
    {{!-- need to create JS for playlist creation to occur --}}



{{!-- cards for top 5 songs --}}
<div id="topFive">
<h1> Top 5 Songs </h1>
{{#each tracks as |track|}}
{{>homepage-card-details}}
{{/each}}
</div>
   

{{!-- this example script for search function --}}
<script src="./js/dashboard.js"></script>


</div>