<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Da Beatz.</title>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/js/uikit-icons.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
</head>

<body>
  <header>
   
    <img class="siteNamePic" src="/images/beatz.png" alt="Da Beatz">

  </header>
  <nav>

    <a class="loginout" href="/dashboard" style="font-size: 20px; color: white"><i class="fas fa-bars"></i> Dashboard</a>

    <a href="/" style="font-size: 20px; color:white"><i class="fas fa-home" style="font-size: 20px; color:white"></i> Home</a>

    {{#if loggedIn}}
    <button id="logout" class="loginout" style="font-size: 20px; color:white"><i class="fas fa-sign-out-alt"></i>Logout</button>
    {{else}}


    <a href="/login" class="loginout" style="font-size: 20px; color:white"><i class="fas fa-sign-in-alt"></i> Login</a>


    {{/if}}
  </nav>

  <main>

    <div class="dataBody">
      {{{body}}}
    </div>
    
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <footer class= "uk-block" > <p> &copy; Copyright 2021 
    <br/> Made by: The Beatlz </p>
  </footer>
</body>

</html>