<div>
   

    {{!-- Search area to search db for songs --}}
    <textarea id="songSearchBox">Enter a song!</textarea>
    <button id="submitSearch">Submit</button>
    <button id="createPlaylist">Create Playlist</button>

    {{!-- card to for playlist --}}
    <section>
        <div class="playlistCard">
            {{!-- pull in the data from the js get request --}}
        </div>
    </section>

{{!-- cards for recommended songs --}}
    <section class="recommendedCards">
        {{!-- info about the song --}}
            {{!-- <header>{{tracks.name}}</header>
            <h3>{{tracks.artists}}</h3>
            <h3>{{tracks.duration_ms}}</h3> --}}
            {{!-- add a random album image here probably --}}
            <img src="">
        </a>
    </section>

{{!-- this example script to have our recommended song generator --}}
<script src="./js/dashboard.js"></script>


</div>