
    {{!-- Search area to search db for songs --}}
    <div class="hide" id="hide">
    <textarea id="songSearchBox">Enter a song/artist!</textarea>
    <button id="submitSearch">Submit</button>
    </div>

    <button id="createPlaylist">Create Playlist</button>
    {{!-- need to create JS for playlist creation to occur --}}

  
<div class="hide" id="plTitle" > 
  <input class="note-title" placeholder="Playlist Title"  maxlength="28" type="text">
  <h3>Your tracks: </h3>
  <section class="playlist ">

  </section>
</div>

<div class="playlistCard">
  <h3 class="hide" id="results">Results:</h3>
{{!-- pull in the data from the js get request --}}
{{!-- {{}} --}}
</div>
    

{{!-- cards for top 5 songs --}}
<div id="topFive">
<h1> Top 5 Songs </h1>
{{#each tracks as |track|}}
{{>homepage-card-details}}
{{/each}}
</div>
   

{{!-- this example script for search function --}}
<script src="./js/dashboard.js"></script>


</div>