:root {
  --primary: #3d5852;
  --secondary: #86938f;
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
  --gradient: linear-gradient(
    45deg,
    rgb(0,0,0),
    rgb(0,0,0),
    rgb(10,10,10),
    rgb(20,20,20),
    rgb(30,30,30),
    rgb(40,40,40),
    rgb(50,50,50),
    rgb(60,60,60),
    rgb(70,70,70)
  );
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-image: var(--gradient);
  background-size: 400%;
  animation: bg-animation 30s infinite alternate;
}

@keyframes bg-animation {
  0% {background-position: left;}
  100% {background-position: right;}
}

header {
  padding: 20px;
  text-align: center;
  
}

.siteNamePic {
  width: 90%;
  height: auto;
  padding: 4%;
}

/* .siteName {
  font-family: "Hachi Maru Pop", cursive;
  color: blue;
  font-size: 48px;
  text-shadow: 1 1 3 white;
} */

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

nav {
  display: flex;

  background-image: linear-gradient(black, rgb(0,255,123), rgb(10,10,10), rgb(7,7,7), rgb(5,5,5),rgb(2,2,2), black, black,rgb(2,2,2), rgb(5,5,5), rgb(7,7,7), rgb(10,10,10),  rgb(0,255,123), black);
  border-top: 3px 

}

nav a {
  color: var(--light);
  text-shadow: 1 1 1 red;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
  transition: 1s;
  
}

.loginout {
  position: absolute;
  left: 85%;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.hero {
  max-width: 100%;
  max-height: 400px;
  background-size: contain;
  background-position: center;
}

.hero img {
  width: 100%;
  height: auto;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

footer {
  font-size: smaller;
  text-align: center;
}
